//colors
$primary: #3B80FF
$secondary: #D0E1FF
$accent: #EAEEFF


//fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap')
$bigText: 3vw
$medText: 1.2vw
$smallText: .8vw

//spacing



//mixins
@mixin fontStyle($color: $primary, $font: 'Open Sans')
  font-family: $font, serif
  color: $color

@mixin spaceKiller
  padding: 0
  margin: 0

@mixin centerAligned($flow: column)
  display: flex
  flex-flow: $flow
  align-items: center
  justify-content: center
  align-content: center


//misc
html
  overflow-x: hidden
  line-height: 1.6
  font-family: openSans, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1,
h2,
h3,
h4,
h5
  line-height: 1.2

.secondaryText
  @include fontStyle($secondary, 'Open Sans')

.accentText
  @include fontStyle($accent, 'Open Sans')

.boxShadow
  box-shadow: 0 5px 10px rgba(100, 100, 100, 0.47)

.textShadow
  text-shadow: 0 5px 10px $secondary

.textBar
  height: .5vh
  width: 25%
  background-color: $primary