@import boilerPlate

.groupContainer
  width: 80%

#addGroupForm
  width: 50%
  button
    padding: .7vh 2vw
    margin: 0 0 2% 2%
    color: #FFFFFF
    background-color: $primary
    border-radius: .5vh
    border-style: none
    box-shadow: 3px 3px 8px rgba(100, 100, 100, 0.47)
    font-size: $smallText
    text-align: center
  input
    width: 60%
    border-style: none
    border-radius: 1vh
    box-shadow: 3px 3px 8px rgba(100, 100, 100, 0.47)
    padding: .7vh 1vw
    font-size: $smallText
  input:focus
    padding-left: 1vw
    outline: none
    font-size: $smallText


.groupBox
  width: 80%
  background-color: #FFFFFF
  box-shadow: 0 3px 5px rgba(129, 129, 129, 0.47)
  border-radius: 1vh


.groupMember
  p
    @include fontStyle(black, 'Open Sans')
    font-size: $medText
    font-weight: bold
    text-align: center
    overflow-x: hidden
  button
    margin: 0


@media (max-width: 991.98px)
  #addGroupForm
    width: 60%
    button
      font-size: 3vw
    input
      width: 60%
      font-size: 3vw
    input:focus
      font-size: 3vw



  .groupContainer
    width: 100%


  .groupBox
    width: 90%

  .groupMember
    p
      margin: 0 auto
      font-size: 3vw
    button
      width: 30%