@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
html, body, #root {
  height: 100%;
}

html {
  overflow-x: hidden;
  line-height: 1.6;
  font-family: openSans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

.secondaryText {
  font-family: "Open Sans", serif;
  color: #D0E1FF;
}

.accentText {
  font-family: "Open Sans", serif;
  color: #EAEEFF;
}

.boxShadow {
  box-shadow: 0 5px 10px rgba(100, 100, 100, 0.47);
}

.textShadow {
  text-shadow: 0 5px 10px rgba(100, 100, 100, 0.47);
}

.textBar {
  padding: 0.3vh;
  width: 2vw;
  background-color: #3B80FF;
}

.headerNav {
  width: 50%;
}

.headerNav__item {
  padding-right: 5%;
  width: fit-content;
  cursor: pointer;
  font-size: 0.8vw;
  color: #508bfa;
}

.headerNav__item:hover {
  color: #3B80FF;
}

@media (max-width: 991.98px) {
  .headerNav__item {
    font-size: 3vw;
  }
}
.content__height {
  height: 100%;
}

#appWrapper {
  width: 100%;
  height: 100%;
  background-color: #EAEEFF;
}

#contentWrapper {
  max-height: 100vh;
  overflow-y: scroll;
}
#contentWrapper .textBar {
  width: 10%;
}

#pageHeader {
  width: 100%;
}
#pageHeader h1 {
  cursor: default;
  text-shadow: 0 3px 5px rgba(129, 129, 129, 0.47);
}
#pageHeader div button {
  font-size: 0.8vw;
}

a {
  text-decoration: none;
}

.game {
  width: 30vw;
  animation: fadein 1.5s;
}

#submitButton {
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.game__info {
  width: 100%;
  margin: 2vh 0 2vh 0;
}
.game__info p {
  margin-bottom: 0;
  text-align: center;
}
.game__info h1 {
  cursor: default;
  font-size: 0.8vw;
  font-family: "Open Sans", serif;
  color: #FFFFFF;
  margin: 0 0 0 1vw;
  padding: 1vh 2vw;
  background-color: #3B80FF;
  border-radius: 1vh;
  box-shadow: 0 3px 5px rgba(129, 129, 129, 0.47);
}

.game__infoTimeDate {
  font-size: 0.8vw;
}

.game__infoAT {
  margin: 0 0 0 0;
  font-size: 1.2vw;
}

.game__away, .game__home {
  box-shadow: 0 3px 5px rgba(129, 129, 129, 0.47);
  background-color: #FFFFFF;
  border-radius: 1vh;
  border: #3B80FF 3px solid;
}
.game__away h1, .game__home h1 {
  font-size: 1.2vw;
  text-align: center;
  margin: 0;
  padding-top: 2vh;
}
.game__away p, .game__home p {
  margin: 0;
  font-size: 1vw;
  padding: 0 1vw 0 0;
}
.game__away h1, .game__away p, .game__home h1, .game__home p {
  cursor: default;
}

.game__away:hover, .game__home:hover {
  background-color: #3B80FF;
}
.game__away:hover h1, .game__away:hover p, .game__home:hover h1, .game__home:hover p {
  color: #FFFFFF;
}

.pick {
  background-color: #3B80FF;
}
.pick h1, .pick p {
  color: #FFFFFF;
}

.winner {
  border: #3bff45 3px solid;
}

.loser {
  border: #ff3b3b 3px solid;
}

.noPick {
  pointer-events: none;
}

@media (max-width: 991.98px) {
  #contentWrapper {
    height: 90%;
  }

  #pageHeader div button {
    font-size: 2vw;
  }

  .game {
    width: 80%;
  }

  .game__info h1 {
    font-size: 2vw;
  }

  .game__infoTimeDate, .game__infoAT {
    font-size: 3vw;
  }

  .game__home h1, .game__away h1 {
    font-size: 3vw;
  }
  .game__home p, .game__away p {
    font-size: 3vw;
  }
}

/*# sourceMappingURL=picksInterface.css.map */
